In [1]:
## Scope

msg = 'python'
def outer_scope():
    msg = "Seong-Su"
    def inner_local():
        msg="Fast"     # outer_scope()의 지역변수의 범위이기 때문에 'Seong_Su'가 출력
        
    def inner_nonlocal():
        nonlocal msg   # 현재 함수의 바깥쪽에 있는 지역 변수 사용할건데 
        msg="Campus"   # 그 값을 'Seong-Su' -> 'Campus'로 바꾸겠다.
        
    def inner_global():
        global msg     # msg가 'Campus'로 바뀌었기 때문에 outer_scope()의
        msg="FastCampus" # global msg도 'Campus'로 출력됨
                         # outer_scope()가 호출된 후 msg를 출력하면 'FastCampus'가 출력
    
    inner_local()
    print('inner local:', msg)
    inner_nonlocal()
    print('inner nonlocal:', msg)
    inner_global()
    print('inner global:', msg)

In [2]:
outer_scope()

inner local: Seong-Su
inner nonlocal: Campus
inner global: Campus

In [56]:
msg

'FastCampus'

In [32]:
#Class

In [77]:
class Hero:
    hp = 100   # class variable
    #def __init__(self, name, weapon):
    #    self.name = name    # instanve variable
    #    self.weapon = weapon
        
    def attack(self):
        print('attack with {}'.format(self.weapon))
    def fly(self):
        print('can fly with {}'.format(self.weapon))
    def get_damaged(self):
        pass

In [13]:
IronMan = Hero()

NameError: name 'Hero' is not defined

In [79]:
IronMan = Hero('Iron Man', 'Suit')

In [80]:
IronMan.attack()

attack with Suit

In [81]:
IronMan.name

'Iron Man'

In [82]:
IronMan.weapon

'Suit'

In [83]:
IronMan.hp

100

In [84]:
IronMan.get_damaged()

In [85]:
IronMan.fly()

can fly with Suit

In [86]:
class LetSeeAttributes:
    integer = 1024
    def fuction():
        return 'fastcampus'

In [87]:
fast = LetSeeAttributes()

In [88]:
fast.integer

1024

In [89]:
fast.integer = 2048

In [90]:
fast.integer

2048

In [92]:
campus = LetSeeAttributes()

In [93]:
campus.integer

1024

In [1]:
#Hackerrank Day 4. class vs. instance

class Person:
    def __init__(self,initialAge):
        self.age = initialAge
        if self.age < 0:
            print('Age is not valid, setting age to 0.')
    def amIOld(self):
        if self.age < 13:
            print('You are young.')
        elif self.age >= 13 and self.age < 18:
            print('You are a teenager.')
        else: 
            print('You are old.')
    def yearPasses(self):
        self.age += 1

In [2]:
# [] == False
all([])  # 인수가 모두 참이면 True, 거짓이 하나라도 있으면 False

True

In [3]:
any([])  # 인수가 하나라도 참이 있으면 Ture, 모두 거짓일 때에만 False

False

In [4]:
# Filter

In [16]:
a = map(len, ['1', '22', '333'])
a

In [17]:
next(a)

1

In [18]:
# 짝수표현 1
list(range(2,10+1,2))

[2, 4, 6, 8, 10]

In [19]:
# 짝수표현 2
[i*2 for i in range(1,5+1)]

[2, 4, 6, 8, 10]

In [23]:
# 짝수표현 3
[i for i in range(1,10+1) if i%2==0]

[2, 4, 6, 8, 10]

In [24]:
def even_selector(x):
    if x%2==0:
        return True
    else:
        return False

In [26]:
# filter(function, iter): 함수의 반환값이 참인 것만 묶어서 출력
         # 함수,    반복 가능한 자료형 요소
list(filter(even_selector, range(1,10+1)))

[2, 4, 6, 8, 10]

In [34]:
list(filter(lambda x:x%2==0, range(1,10+1)))

[2, 4, 6, 8, 10]

In [3]:
# isinstance('1', float): '1'이 실수니? 반환값은 True or False
           # 대상, 자료형
isinstance('1', float)

False

In [1]:
isinstance(1, int)

True

In [7]:
some_list = [
    1, 3.14, 2.71828, 'tau', 'lambda', [1,0, 0, 1], {'key':'bamboo'}
]

In [8]:
list(filter(lambda a:isinstance(a,float), some_list))

[3.14, 2.71828]

In [17]:
(lambda a:isinstance(a, float))(3.14)

True

In [18]:
(lambda a:isinstance(a, float))(3)

False

In [53]:
# 1부터 100까지 합 구하는 문제
int((lambda a:a*(a+1)/2)(100))

5050

In [45]:
def sum_i(num):
    result = 0
    for i in range(1,num+1):
        result += i
    return result

In [41]:
sum_i(100)

5050

In [51]:
list(map(sum_i, range(1,100+1))) #map는 결과값을 list로 돌려줌

[1,
 3,
 6,
 10,
 15,
 21,
 28,
 36,
 45,
 55,
 66,
 78,
 91,
 105,
 120,
 136,
 153,
 171,
 190,
 210,
 231,
 253,
 276,
 300,
 325,
 351,
 378,
 406,
 435,
 465,
 496,
 528,
 561,
 595,
 630,
 666,
 703,
 741,
 780,
 820,
 861,
 903,
 946,
 990,
 1035,
 1081,
 1128,
 1176,
 1225,
 1275,
 1326,
 1378,
 1431,
 1485,
 1540,
 1596,
 1653,
 1711,
 1770,
 1830,
 1891,
 1953,
 2016,
 2080,
 2145,
 2211,
 2278,
 2346,
 2415,
 2485,
 2556,
 2628,
 2701,
 2775,
 2850,
 2926,
 3003,
 3081,
 3160,
 3240,
 3321,
 3403,
 3486,
 3570,
 3655,
 3741,
 3828,
 3916,
 4005,
 4095,
 4186,
 4278,
 4371,
 4465,
 4560,
 4656,
 4753,
 4851,
 4950,
 5050]

In [54]:
# reduce(function, iter): interalble한 값을 하나의 값으로 반환해 줌
#         #함수,   #일하는 대상
# 내장함수에서 제외되어 From functools import reduce하고 사용해야 함

In [57]:
from functools import reduce


def accmulator(x,y):
    result = x+y
    return result

In [59]:
accmulator(3,4)

7

In [62]:
reduce(accmulator, range(1,100+1))

5050

In [63]:
reduce(lambda a,b:a+b, range(100+1))

5050

In [65]:
reduce(lambda a,b:a+b, range(100+1), 100)
                                    #초기값 설정

5150

In [66]:
reduce(lambda x,y:x+y, range(1,10+1))

55

In [67]:
reduce(lambed x,y:y+x, 'fastcampus' )

SyntaxError: invalid syntax (<ipython-input-67-c146f2a8692e>, line 1)

In [73]:
# 1. 아래 리스트의 요소 중 정수와 실수인 요소만 리스트로 구성하기
# 2. 아래 리스트의 요소 중 정수만 각각 제곱하여 리스트로 구성하기
# 3. 아래 리스트의 요소 중 정수만 각각 제곱한 수들의 합계 출력하기
# Hint : isinstance(1, int)

recyle_bin = [1,2,'Fastcampus', ['dog', 'cat','pig'], 5, 4, 5.6, False,
               '패스트캠퍼스', 100, 3.14, 2.71828,{'name':'Kim'}, True]

In [80]:
#1. 
rm_bool = list(filter(lambda a:isinstance(a, (float,int)),recyle_bin))
rm_bool

[1, 2, 5, 4, 5.6, False, 100, 3.14, 2.71828, True]

In [84]:
int_float_list = list(filter(lambda b: not isinstance(b, bool), rm_bool))
int_float_list

[1, 2, 5, 4, 5.6, 100, 3.14, 2.71828]

In [97]:
#2.
int_list = list(filter(lambda c:isinstance(c, int), int_float_list))
int_list

[1, 2, 5, 4, 100]

In [98]:
int_squared = list(map(lambda x:x**2, int_list))

In [99]:
#3.
reduce(lambda x,y:x+y, int_squared)
# reduce(lambda i,j:i+j, map(lambda x:x**2, int_list))

10046

In [102]:
reduce(lambda i,j:i+j, map(lambda x:x**2, int_list))

10046

In [103]:
isinstance(3.14, (float, int))

True

In [2]:
def isinstance_num(a):
    if isinstance(a, int) or isinstance(a, float):
        return True
    return False

In [3]:
isinstance_num(3)

True

In [4]:
isinstance_num('안녕')

False

In [5]:
isinstance_num(3.14)

True