In [ ]:
float(3)

In [ ]:
int("12")

In [ ]:
str('1')

In [ ]:
name = input("What is your name?")

In [ ]:
print("Hi", name)

In [ ]:
user_age = int(input("How old are you?"))

In [ ]:
type(user_age)

In [ ]:
pi = 3.1415

In [ ]:
r = float(input("반지름을 입력해라"))
d = 2 * r
c = 2 * pi * r
a = pi * r ** 2
gnb = 4 * pi * r ** 2
v = 4 / 3 * pi * r ** 3
print("r=", r)
print("d=", d)
print("c=", c)
print("a=", a)
print("gnb=", gnb)
print("v=", v)

In [ ]:
a = "python"

In [ ]:
a[1]

In [ ]:
a[3:]

In [ ]:
b= a[:2+1]

In [ ]:
b

In [ ]:
c = a[4:]

In [ ]:
c

In [ ]:
string = b + 'o' + c 
print(string)

In [ ]:
sentence = "Fastschool is good"
sentence[4::2]

In [ ]:
word = "Fastcampus"
print(word[2:4+1:2])

In [ ]:
word = 'Fastcampus is a place for person learing something'

In [ ]:
word.index[1]

In [ ]:
print(word[3])

In [ ]:
print(word[3:10+1:3])

In [ ]:
print(word.find('i')

In [ ]:
word

In [ ]:
word.find('i')

In [ ]:
print(word.count('a'))

In [ ]:
print(" ".join(word))

In [ ]:
print(word)
print(word.split(' '))

In [ ]:
word.replace('Fastcampus', 'Ezen')

In [ ]:
word

In [ ]:
word.upper()

In [ ]:
word.lower()

In [ ]:
word = '     fastcampus is a place for person learing something     '

In [ ]:
word.strip()

In [ ]:
word = 'fastcampus'

In [ ]:
word

In [ ]:
word.isalnum()

In [ ]:
word.isalpha()

In [ ]:
word.islower()

In [ ]:
print('I have a {0:>10}, I have an {0}'.format('pen', 'apple'))

In [ ]:
print('I have a {0:_<10}, I have an {0}'.format('pen', 'apple'))

In [ ]:
print('I have a {0:*^10}, I have an {0}'.format('pen', 'apple'))

In [ ]:
user_num = input('type your phone number')
user_num.split(" ")

In [ ]:
user_num_new = "-".join(user_num.split(" "))

In [ ]:
user_num_new

In [ ]:
name = [123,345,345,345]

In [ ]:
type(name)

In [ ]:
zoo = ["owl", "dog", "cat"]

In [ ]:
"/".join(zoo)

In [ ]:
#FAST
#campus12
#FastCampus
#1107
#dynamite

In [1]:
name = "안녕"
name

'안녕'

In [3]:
user_input = input("type any words: ")
"{} is {}, {}, {}, {}, {}".format(
    user_input,
    user_input.isalpha(),
    user_input.isdigit(),
    user_input.isalnum(),
    user_input.islower(),
    user_input.isupper()
)

type any words: 1107

'1107 is False, True, True, False, False'

In [6]:
a = "this is a string"
a_split = a.split(" ")
"-".join(a_split)

'this-is-a-string'

In [5]:
a_split

['this', 'is', 'a', 'string']

In [8]:
user_name = input("Type your first name and last name")
print("Hi" + user_name + "! You just delved into python")

Type your first name and last namejiyun oh
Hijiyun oh! You just delved into python

In [9]:
user_input = input("Type any words.. number, character..")
"{} is {}, {}, {}, {}, {}".format(
    user_input,
    user_input.isalnum(),
    user_input.isalpha(),
    user_input.isdigit(),
    user_input.islower(),
    user_input.isupper()
)

Type any words.. number, character..1234

'1234 is True, False, True, False, False'

In [11]:
lang = []
lang.append("python")
lang.append("c")
lang.append("java")

In [13]:
lang

['python', 'c', 'java']

In [15]:
lang.insert(1, 'C++')

In [16]:
lang

['python', 'C++', 'c', 'java']

In [1]:
sort?

Object `sort` not found.

In [2]:
.sort()?

SyntaxError: invalid syntax (<ipython-input-2-eef98aa679c0>, line 1)

In [3]:
input?

In [4]:
numbers = [3,4,5,3,6,7]

In [5]:
numbers += [5,6]

In [6]:
numbers

[3, 4, 5, 3, 6, 7, 5, 6]

In [7]:
numbers.extend([7,8])

In [8]:
numbers

[3, 4, 5, 3, 6, 7, 5, 6, 7, 8]

In [9]:
'cat' in ['fox', 'dog', 'cat']

True

In [11]:
'owl' not in ['fox', 'dog', 'wolf', 'owl']

False

In [23]:
def quot_and_rem(x,y):
    quot = x // y
    rem = x % y
    return (quot, rem)
(rem, quot) = quot_and_rem(3,10)

In [22]:
quot_and_rem(3,10)

(0, 3)

In [18]:
(quot, rem) = quot_and_rem(3,10)

In [24]:
tuple = (2,3)

In [25]:
tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
tuple[1]

3

In [29]:
tuple.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [34]:
def split_hello(word):
    result = word.split()
    return result[0], result[1]
(greet, word) = split_hello('hello word')

In [35]:
greet

'hello'

In [36]:
word

'word'

In [37]:
print(greet, word)

hello word

In [40]:
(greet, word) = (word, greet)
print(greet, word)

word hello

In [41]:
animals = ['rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion']

In [42]:
animals

['rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion']

In [43]:
animals.insert(3, 'wolf')

In [44]:
animals

['rabbit', 'cat', 'dog', 'wolf', 'aligator', 'tiger', 'lion']

In [45]:
animals.append('owl')

In [46]:
animals

['rabbit', 'cat', 'dog', 'wolf', 'aligator', 'tiger', 'lion', 'owl']

In [49]:
animals.extend(['cow'])

In [50]:
animals

['rabbit',
 'cat',
 'dog',
 'wolf',
 'aligator',
 'tiger',
 'lion',
 'owl',
 'c',
 'o',
 'w',
 'cow']

In [51]:
animals.remove('c')

In [52]:
animals.remove('o')

In [53]:
animals.remove('w')

In [54]:
animals

['rabbit', 'cat', 'dog', 'wolf', 'aligator', 'tiger', 'lion', 'owl', 'cow']

In [55]:
animals.sort(reverse=True)

In [56]:
animals

['wolf', 'tiger', 'rabbit', 'owl', 'lion', 'dog', 'cow', 'cat', 'aligator']

In [61]:
even_animals = tuple(animals[::2])

TypeError: 'tuple' object is not callable

In [59]:
even_animals

['wolf', 'rabbit', 'lion', 'cow', 'aligator']

In [60]:
even_animals = tuple(even_animals)

TypeError: 'tuple' object is not callable

In [62]:
even_animals

['wolf', 'rabbit', 'lion', 'cow', 'aligator']

In [63]:
animals

['wolf', 'tiger', 'rabbit', 'owl', 'lion', 'dog', 'cow', 'cat', 'aligator']

In [65]:
new_animals = tuple(animals[::2])

TypeError: 'tuple' object is not callable