In [4]:
ganji = {}
ganji = {'ja': 1, 'chuk': 2}

In [5]:
ganji

{'ja': 1, 'chuk': 2}

In [6]:
ganji1 = dict(ja=1, chuk=2)

In [7]:
ganji1

{'ja': 1, 'chuk': 2}

In [8]:
ganji2 = dict([('ja',1), ('chuk',2), ('in',3)])

In [9]:
ganji2

{'ja': 1, 'chuk': 2, 'in': 3}

In [11]:
ganji2['myo'] = 2

In [13]:
ganji2

{'ja': 1, 'chuk': 2, 'in': 3, 'myo': 2}

In [14]:
del ganji2['myo']

In [15]:
ganji2

{'ja': 1, 'chuk': 2, 'in': 3}

In [16]:
ganji2['jin'] = 3

In [17]:
ganji2

{'ja': 1, 'chuk': 2, 'in': 3, 'jin': 3}

In [20]:
ganji2.insert(3, 'myo')

AttributeError: 'dict' object has no attribute 'insert'

In [21]:
ganji

{'ja': 1, 'chuk': 2, 'myo': 2}

In [22]:
ganji['ja'] = 'rat'

In [23]:
ganji

{'ja': 'rat', 'chuk': 2, 'myo': 2}

In [24]:
ganji['chuk']='cow'

In [25]:
ganji['in']='tiger'

In [26]:
ganji['myo']='rabbit'

In [27]:
ganji

{'ja': 'rat', 'chuk': 'cow', 'myo': 'rabbit', 'in': 'tiger'}

In [28]:
ganji.keys()

dict_keys(['ja', 'chuk', 'myo', 'in'])

In [29]:
ganji.values()

dict_values(['rat', 'cow', 'rabbit', 'tiger'])

In [30]:
for key in ganji.keys():
    print(ganji[key])

rat
cow
rabbit
tiger

In [31]:
ganji['ja']

'rat'

In [32]:
ganji.values()

dict_values(['rat', 'cow', 'rabbit', 'tiger'])

In [33]:
ganji.items()

dict_items([('ja', 'rat'), ('chuk', 'cow'), ('myo', 'rabbit'), ('in', 'tiger')])

In [186]:
ganji1 = ganji.items()
ganji1
list(ganji1)

[('chuk', 'cow'), ('myo', 'rabbit')]

In [38]:
list(zip(ganji.keys(), ganji.values()))

[('ja', 'rat'), ('chuk', 'cow'), ('myo', 'rabbit'), ('in', 'tiger')]

In [39]:
ganji

{'ja': 'rat', 'chuk': 'cow', 'myo': 'rabbit', 'in': 'tiger'}

In [40]:
ganji.pop('ja')

'rat'

In [41]:
ganji

{'chuk': 'cow', 'myo': 'rabbit', 'in': 'tiger'}

In [42]:
ganji.popitem()

('in', 'tiger')

In [43]:
ganji

{'chuk': 'cow', 'myo': 'rabbit'}

In [45]:
"""
Korean: ,
Math: ,
English: ,
Social: [ , , ],
Science: [ , , , ],
"""

'\nKorean: ,\nMath: ,\nEnglish: ,\nSocial: [ , , ],\nScience: [ , , , ],\n'

In [48]:
hong_midterm = {}
hong_midterm['Korean'] = 70
hong_midterm['Math'] = 60
hong_midterm['English'] = 100
hong_midterm['Social'] = [45,30,20]
hong_midterm['Science'] = [45,45,40,10]

In [49]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10]}

In [50]:
hong_midterm['Korean']

70

In [82]:
hong_midterm.get('geometry', 0)

0

In [77]:
hong_midterm.setdefault('Ethics', [])
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': []}

In [85]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': []}

In [97]:
print(hong_midterm.get('art'))

None

In [98]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': [],
 'geometry': None}

In [108]:
print(hong_midterm.setdefault('art', []))

[]

In [109]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': [],
 'geometry': None,
 'art': []}

In [115]:
hong_midterm['art'].pop()

10

In [116]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': [],
 'geometry': None,
 'art': [10]}

In [117]:
some_dict = {'name': 'Hong Gil-dong', 'locale':'Seoul, KR'}

In [122]:
print("hello, I'm {name}, from{locale}".format(**some_dict))

hello, I'm Hong Gil-dong, fromSeoul, KR

In [123]:
len(hong_midterm)

8

In [126]:
hong_midterm.update({'Korean':40})

In [127]:
hong_midterm

{'Korean': 40,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': [],
 'geometry': None,
 'art': [10],
 'korean': 40}

In [131]:
ppap = ['pen', 'apple', 'pineapple', 'pen']

In [132]:
ppap

['pen', 'apple', 'pineapple', 'pen']

In [133]:
'apple' in ppap

True

In [134]:
'applepen' in ppap

False

In [136]:
list(set(ppap))

['apple', 'pineapple', 'pen']

In [138]:
a_word = 'fastcampus'
b_word = 'python'

In [142]:
a_set = set(a_word)
print(a_set)
b_set = set(b_word)
print(b_set)

{'a', 'c', 's', 'f', 'm', 'u', 't', 'p'}
{'y', 't', 'h', 'o', 'n', 'p'}

In [143]:
a_set | b_set

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [145]:
a_set & b_set

{'p', 't'}

In [146]:
a_set - b_set

{'a', 'c', 'f', 'm', 's', 'u'}

In [147]:
a_set ^ b_set

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

In [149]:
user_info = []

In [159]:
user_raw = dict([('name','Foo Bar'), 
                 ('locale', 'Busan, Korea'),
                 ('age', 31),
                 ('username', 'foo-bar')])

In [160]:
user_info.append(user_raw)

In [169]:
user_info

[{'name': 'Johnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'London, UK', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'Seoul, Korea',
  'age': 24,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [170]:
user_info[1].update({'locale':'London, UK'})

In [171]:
user_info

[{'name': 'Johnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'London, UK', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'Seoul, Korea',
  'age': 24,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [172]:
user_info[2]['age'] = 50

In [173]:
user_info

[{'name': 'Johnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'London, UK', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'Seoul, Korea',
  'age': 50,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [178]:
type(user_info)

list

In [189]:
print(list(user_info[0].items()))
print(list(user_info[1].items()))
print(list(user_info[2].items()))
print(list(user_info[3].items()))

[('name', 'Johnny Silverhand'), ('locale', 'Night City'), ('age', 120), ('username', 'Johnny')]
[('name', 'John Doe'), ('locale', 'London, UK'), ('age', 40), ('username', 'Doh')]
[('name', 'Jane Doe'), ('locale', 'Seoul, Korea'), ('age', 50), ('username', 'jane-doe')]
[('name', 'Foo Bar'), ('locale', 'Busan, Korea'), ('age', 31), ('username', 'foo-bar')]

In [190]:
cities = [
    'Daejeon', 'Ulsan', 'Seoul', 'Jeju',
    'Busan', 'Ulsan', 'Daegu', 'Daejeon',
    'Seoul', 'Seoul', 'Daejeon', 'Gwangju',
    'Busan', 'Daegu', 'Gwangju', 'Daejeon', 
    'Ulsan', 'Jeju', 'Gwangju', 'Seoul'
]

In [191]:
cities_set = set(cities)

In [192]:
cities_set

{'Busan', 'Daegu', 'Daejeon', 'Gwangju', 'Jeju', 'Seoul', 'Ulsan'}

In [206]:
cities_list = list(cities_set)

In [207]:
cities_list

['Daegu', 'Daejeon', 'Ulsan', 'Jeju', 'Seoul', 'Busan', 'Gwangju']

In [209]:
cities_list.sort(reverse=True)

In [211]:
cities_list

['Ulsan', 'Seoul', 'Jeju', 'Gwangju', 'Daejeon', 'Daegu', 'Busan']

In [212]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [213]:
list(range(1,10+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [214]:
i

10

In [215]:
for s in 'python':
    print('{} for python'.format(s))

p for python
y for python
t for python
h for python
o for python
n for python

In [216]:
while True:
    message = input('Type anything: ')
    if message == 'exit':
        break
    print(message)

Type anything: hi
hi
Type anything: sunday is almose done
sunday is almose done
Type anything: exit

In [224]:
import random

magic_num = random.randint(1,20)
print('Stop at', magic_num)

for i in range(1,100+1):
    if i == magic_num:
        break   #반복문 아예 종료
    elif i % 2 == 0:
        print('skip for now')
        continue  #해당 싸이클만 종료
    print(i)

Stop at 14
1
skip for now
3
skip for now
5
skip for now
7
skip for now
9
skip for now
11
skip for now
13

In [234]:
#팩토리얼 연산 수행
ser_num = int(input('Enter a number(2-100): '))
result = 1
for i in range(1,user_num+1):
    result *= i
    print(i, result)
print('{}의 팩토리얼 값은 {}'.format(user_num, result))

Enter a number(2-100): 4
1 1
2 2
3 6
4 24
4의 팩토리얼 값은 24

In [255]:
lists_in_list = [
    [1, 0, 7, 0],
    [0, 2, 0, 9],
    [0, 6, 3, 7],
    [4, 0, 5, 1],
]

In [278]:
for i in lists_in_list:
    print(i)

[1, 0, 7, 0]
[0, 2, 0, 9]
[0, 6, 3, 7]
[4, 0, 5, 1]

In [280]:
list_sum = 0
for i in lists_in_list:
    list_sum += sum(i)
    print(list_sum)
print("최종 결과는:", list_sum)

8
19
35
45
최종 결과는: 45

In [284]:
for i in range(1,30+1):
    if i%3 ==0 or i %5==0:
        print('fizz'*(i%3==0) + 'buzz'*(i%5==0))
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [2]:
fizzbuzz_list = ['fizz'*(i%3==0) or 'buzz'*(i%5==0) if (i%3==0) or (i%5==0) else i 
                 for i in range(1,30+1)]
fizzbuzz_list

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizz']

In [287]:
"hello"*True + "world"*False

'hello'

In [297]:
import random

answer = random.randint(1,50)
print('Answer: {}'.format(answer))

for _ in range(3):
    guess = int(input("Guess the number(1-100): "))
    if guess-answer == 0:
        print("Correct!")
        break
    elif guess<answer:
        print("Up!")
    elif guess>answer:
        print("down!")
        
print("You lose! The answer is {}".format(answer))

Answer: 34
Guess the number(1-100): 15
Up!
Guess the number(1-100): 30
Up!
Guess the number(1-100): 45
down!
You lose! The answer is 34

In [303]:
import random

answer = random.randint(1,50)
print('Answer: {}'.format(answer))
chance = int(input('Choose lever(1-easy 10-hard)'))

while chance>0:
    guess = int(input("Guess the number(1-100): "))
    if guess-answer == 0:
        print("Correct!")
        break
    elif guess<answer:
        msg = 'Up!'
    elif guess>answer:
        msg = 'Down!'
    chance -= 1
    print("{} You have {} life(s)".format(msg, chance))
    
    if chance ==0:
        print("You lose! The answer is {}".format(answer))

Answer: 12
Choose lever(1-easy 10-hard)5
Guess the number(1-100): 1
Up! You have 4 life(s)
Guess the number(1-100): 2
Up! You have 3 life(s)
Guess the number(1-100): 4
Up! You have 2 life(s)
Guess the number(1-100): 5
Up! You have 1 life(s)
Guess the number(1-100): 6
Up! You have 0 life(s)
You lose! The answer is 12

In [7]:
# Homework
# ver.Iterative
# 3! = 3*2*1 다시말하면 1*2*3과 같음

user_num = int(input('Enter the number(0~950): '))
result = 1
for i in range(1, user_num+1):
    result *= i
    print(i,result)
print("{}!의 결과는 {}".format(user_num, result))

Enter the number(0~950): 5
1 1
2 2
3 6
4 24
5 120
5!의 결과는 120

In [2]:
# Homework
# ver.Recursive(자기자신을 불러내는 함수)

user_num1 = int(input('Enter the number(0~950): '))
def factorial(num):
    if num <= 2:  # 2! or 1! 같은 경우를 생각해야 함
        return num
    else:
        return num * factorial(num-1)
     
result = factorial(user_num1)
print("{}!의 결과는 {}".format(user_num1, result))

Enter the number(0~950): 5
5!의 결과는 120

In [78]:
# 몬티홀 문제
import random


trial = int(input("How many times do you want: "))
stay = 0
change = 0

for i in range(1,trial):
    door = [0,0,1]
    random.shuffle(door)
    user_choice = door.pop()
    door.remove(0)
    if user_choice == 1:
        stay += 1
    else:
        change += 1
print('총 횟수: {}번 \n선택을 유지할 경우 스포츠카를 얻을 확률(%): {}, \n선택을 바꿀 경우 스포츠카를 얻을 확률(%): {}'.format(trial, (stay/trial)*100, (change/trial)*100))
print(">> 결과적으로 몬티홀 문제는 선택을 바꾸는 것이 유리하다")

How many times do you want: 10000
총 횟수: 10000번
선택을 유지할 경우 스포츠카를 얻을 확률(%): 32.84,
선택을 바꿀 경우 스포츠카를 얻을 확률(%): 67.15
>> 결과적으로 몬티홀 문제는 선택을 바꾸는 것이 유리하다